{% extends "_base.html" %}

{% block lang -%}
{% if section.extra.lang %}{{ section.extra.lang }} 
{%- else %}{{ section.lang }}{% endif %}
{%- endblock lang -%}

{% block title %}{{ config.title }}{% endblock title %}

{% block desc %}{{ config.description }}{% endblock desc %}

{% block css -%}
<link rel="stylesheet" href="/css/home.css" />
<link rel="stylesheet" href="/css/home_custom.css" />
{%- endblock css %}

{% block content %}
<main>
    <div class="info">
        <img src="{{ config.extra.avatar }}" alt="avatar">
        <div class="info-text">
            <p>
                <span id="name">{{ config.extra.name }}</span>
                {% if config.extra.show_id -%}
                <span id="id">
                    <a class="twitter-link" href="{{ config.extra.links[2].url }}" target="_blank">@{{ config.extra.id }}</a>
                </span>
                {% endif -%}
            </p>
            <p id="bio"> {{ config.extra.bio }} </p>
        </div>
    </div>
    <div class="link">
        <div class="left">
            <a href="/" id="blog">
                <i class="{{ config.extra.blog_icon }} ri-xl"></i>
                <span>Blog</span>
            </a>
            {% if config.extra.show_projects -%}
            <a href="/projects" id="projects">
                <i class="{{ config.extra.projects_icon }} ri-xl"></i>
                <span>Projects</span>
            </a>
            {% endif -%}
        </div>
        <div class="right">
            {% for link in config.extra.links -%}
            <a href="{{ link.url }}" aria-label="{{ link.name }}" target="_blank" rel='noreferrer noopener'><i class="{{ link.icon }} ri-xl"></i></a>
            {% endfor -%}
            <button id="color-toggle"  aria-label="dark light mode switch"><i class="ri-moon-line ri-xl"></i></button>
        </div>
    </div>
    <div class="brief">{{ section.content | trim | safe }}</div>
</main>
{% endblock content %}